@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box;}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #F5F5F5;
}

.field-sangue input{
    color: #990000 !important;
}

img[src="(unknown)"],
img[src=""] {
    display: none !important ;
}

main.myme{
    font-family: 'Montserrat', sans-serif;

    max-width: 950px;
    margin: 0 auto;
    padding: 40px;  
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 50000000s ease-in-out 0s;
}

.disponivel #field_me_foto,
.disponivel #field_my_foto{
    cursor: pointer;
}

main.myme input[type='file']{
    display: none;
}

main.myme input,
main.myme textarea,
main.myme input::placeholder,
main.myme textarea::placeholder{
    width: 100%;
    padding: 0;
    background-color: transparent;
    border: none;
    font-weight: 700;
    font-size: 16px;
    color: #333;
}

main.myme input:focus,
main.myme textarea:focus{
    outline: none;
    border: none;
    
}

main.myme .gd{
    display: grid;
    grid-gap: 10px;
    margin-bottom: 10px;
}

main.myme header{
    width: 100%;
    height: 185px;
    background-color: #313131;
}

/****** GRID ******/
.m1{
    grid-template-columns: 50% 3fr 1fr;
    margin-top: 10px;
}

.m2{
    grid-template-columns: 50% 20% 1fr;
}

.m3{
    grid-template-columns: repeat(3, 1fr);
}

.m4,
.m5{
    grid-template-columns: repeat(2, 1fr);
}

.m6{
    grid-template-columns: 1fr 1fr 150px;
}

.m7{
    grid-template-columns: 1fr;
}

/****** EU ******/
main.myme .my {
    position: relative;
    width: 100%;
}

main.myme .my *:not(.photo){
    z-index: 2;
}

main.myme .my .photo{
    position: absolute;
    text-align: center;
    width: 100%;
    top: -95px;
    z-index: 1;
}

main.myme .my img{
    border: 4px solid #fff;
    border-radius: 50%;
    width: 186px;
    height: 186px;
    object-fit: cover;
    background-color: #fff;
}

main.myme h1{
    color:#1A1A1A;
    font-weight: bold;
    font-size: 75px;
}

main.myme .field{
    text-align: left;
    background-color: #E6E6E6;
    padding: 5px;
}

main.myme .field.b,
main.myme .b{
    background-color: #ccc;
}

main.myme button[type='submit']{
    padding: 0;
    margin: 0;
    background-color: #ccc;
    border: none;
    width: 100%;
    height: 45px;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}

main.myme button[type='submit']:disabled{
    opacity: .9;
    cursor: no-drop;
}

main.myme button[type='submit']:hover{
    opacity: .9;
}

main.myme .field strong{
    display: block;
    font-size: 13px;
    font-weight: 600;
}
/****** MEU ******/
main.myme .me{
    margin-top: 55px;
}

main.myme h4.emergencia{
    color: #990000;
    text-align: center;
    font-size: 27px;
    font-weight: 800;
    margin: 15px 0px;
}

main.myme .field-foto{
    position: relative;
    background-color: transparent;
}

main.myme .field-foto img{
    position: absolute;
    width: 100%;
    bottom: 0;
}

/****** HELP ******/
.help{
    margin-top: 55px;
}

.help .ic{
    text-align: center;
}

.help .ic img{
    width: 50px;
}

.help ul{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.help ul li{
    list-style: none;
    margin: 0;
    padding: 0;

    font-weight: 700;
    font-size: 17px;
    color: #333;

    padding: 5px 15px !important;
}

.help ul li:nth-child(2),
.help ul li:nth-child(4){
    text-align: right;
}


.help ul li span{
    color: #990000;
}

/***** EDIT *****/
main.myme .terms{
    display: grid;
    grid-template-columns: 25px 1fr;
    font-size: 15px;
    align-items: center;
    gap: 5px;
    line-height: 1;
}

main.myme .terms input{
    width: 25px;
    height: 25px;
}

/***** FOOTER *****/
main.myme footer{
    text-align: center;
    margin-top: 20px;
}

main.myme footer img{
    width: 60px;
}

/***** MOBILE *****/
@media(max-width:992px){
    main.myme{
        padding: 10px;  
    }

    main.myme .field strong{
        font-size: 10px;
    }

    main.myme h4.emergencia{
        font-size: 18px;
    }

    main.myme .help{
        margin: 0;
    }

    .help .ic img{
        width: 40px;
    }

    .help .ic{
        margin: 20px !important
    }

    .help ul li{
        text-align: left !important;
        padding: 5px !important;
        font-size: 13px;
    }

    main.myme h1{
        font-size: 55px;
        padding-top: 25px;
    }

    main.myme .terms{
        align-items: normal;
    }

    main.myme .field-foto img{
        height: 150px;
        object-fit: cover;
        object-position: center;
    }

    input:read-only,
    input[readonly]{
        -webkit-text-fill-color:#333; /* Override iOS / Android font color change */
        -webkit-opacity:1;
        opacity: 1;
    }

    .m1{
        grid-template-columns: 50% 3fr !important;
    }

    main.myme header{
        object-fit: cover;
        object-position: right;
    }
    
}

/***** SPINNER *****/
@-webkit-keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}
@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}
.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: -0.125em;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: 0.75s linear infinite spinner-border;
    animation: 0.75s linear infinite spinner-border;
}
.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: 0.2em;
}
@-webkit-keyframes spinner-grow {
    0% {
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: none;
    }
}
@keyframes spinner-grow {
    0% {
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: none;
    }
}
.spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: -0.125em;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: 0.75s linear infinite spinner-grow;
    animation: 0.75s linear infinite spinner-grow;
}
.spinner-grow-sm {
    width: 1rem;
    height: 1rem;
}

@media (prefers-reduced-motion: reduce) {
    .spinner-border,
    .spinner-grow {
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
    }
}


/***** IDENTIFY *****/
.identify {
    background-color: #1f1f1f;
}

.identify .container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.identify main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.2);
    border-radius: 5px;
}

.identify .field-submit{
    padding: 0 !important;
}

@media (min-width: 998px) {
    .identify main > div img{
        width: 200px;
    }
}

@media (max-width: 997px){
    .identify main{
        justify-content: space-between;
        margin: 0 5px;
    }

    .identify main > div img{
        max-width: 150px;
    }
}

.identify h4{
    color: #fff;
    margin-bottom: 5px;
    text-align: center;
}

.identify main form {
    flex: 0 1 60%;
}

.identify main > div{
    flex: 0 1 35%;
    text-align: center;
}

.identify input{
    text-transform: uppercase;
}

.identify input::placeholder{
    font-size: 13px !important;
}

.identify main .me{
    margin-top: 0 !important;
}

.identify footer{
    margin: 0 !important
}

.identify .field{

}

.identify button{
    margin: 0 !important;
    height: 35px !important;
}