section#myme-preview{
    width: 812.63px;
    height: 1178.29px;
    
    display: grid;
    grid-template-columns: repeat(4, 190.55px);
    grid-gap: 10px;

    justify-content: center;
  }

  section#myme-preview article{
    width: 190.55px;
    height: 379.53px;
    background-color: #231F20;
    border-radius: 20px;
    
    display: grid;
  }

  section#myme-preview article.myme{
    grid-template-rows: 23.75px 105.28px 148.28px;
    grid-gap: 30px;
    justify-items: center;
    align-content: center;
  }

  section#myme-preview article.myme .name{
    width: 78.77px;
    height: 23.75px;
    transform: rotate(180deg);
  }

  section#myme-preview article.myme .logo{
    width: 105.28px;
    height: 105.28px;
    transform: rotate(-90deg);
  }

  section#myme-preview article.myme .qr{
    width: 149.28px;
    height: 148.28px;
    border-radius: 10px;
    transform: rotate(-90deg);
  }

  section#myme-preview article.serial{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    justify-items: center;
    /* align-content: center; */
  }

  section#myme-preview article.serial p{
    margin: 0;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
  }

  section#myme-preview article.serial p.serial,
  section#myme-preview article.serial p.number{
    /* writing-mode: vertical-rl; */
    /* text-orientation: mixed; */
    transform: rotate(270deg);
    overflow: hidden;
    height: 35px;
    position: relative;
    box-sizing: content-box;
  }

  section#myme-preview article.serial p.serial{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding-right: 20px;
    padding-top: 30px;
    top: 250px;
  }

  section#myme-preview article.serial p.number{
    text-align: center;
    color: #EE1D23;
    font-size: 30px;
    top: calc(100% - 55%);
  }

  section#myme-preview article.serial p.name img{
    width: 23.75px;
    height: 78.77px;
    padding-top: 30px;
    padding-right: 20px;
    box-sizing: content-box;
  }