<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyMe</title>
    <link rel="stylesheet" href="../assets/css/core/bootstrap.min.css"/>
    <link rel="stylesheet" href="../assets/css/mymev3.css"/>
</head>
<body>
    <main class="myme 
    @if(data && data.qr_status == 0)
        disponivel
    @else
        usado
    @endif
    ">
        @if(data)
        <form enctype="multipart/form-data" method="POST" action="{{ route('MymesController.mymeSend') }}">
            {{ csrfField() }}
            <header>
                <img src="../assets/img/v3/capa.PNG" width="100%">
                {{--  <a href="#">Alterar dados</a>  --}}
            </header>
            <div class="my">
                <div class="photo without" data-type="eu-foto">
                <img id="field_me_foto" class="capa" src="{{(data.qr_imagem ? data.qr_imagem : '../assets/img/eu-default.svg')}}"
                @if(data.qr_imagem)
                    data-eu-foto="{{data.qr_imagem}}"
                @endif
                />
                    <input type="file" accept="image/jpg,image/jpeg,image/png">
                </div>
                <h1>EU</h1>
                <div class="fields">
                    <div class="gd m1">
                        <div class="field field-nome b">
                            <strong>NOME:</strong>
                            <input  required type="text" name="field_eu_nome" value="{{data.qr_cliente_nome}}" class=".form-control"/>
                        </div>
        
                        <div class="field field-nascimento b">
                            <strong>DATA DE NASC:</strong>
                            <input  type="text" name="field_eu_nascimento" value="{{data.qr_cliente_nascimento}}" class=".form-control"/>
                        </div>
                    </div>

                    <div class="gd m1">
                        <div class="field field-email">
                            <strong>E-EMAIL:</strong>
                            <input  type="text" name="field_eu_email" value="{{data.qr_cliente_email}}" class=".form-control"/>
                        </div>

                        <div class="field field-anexo
                            @if (!data.qr_cliente_anexo)
                            without
                            @endif
                            " data-type="eu-anexo"
                            @if (data.qr_cliente_anexo)
                            data-has="true"
                            onclick="window.open('{{data.qr_cliente_anexo}}')"
                            data-eu-anexo="{{data.qr_cliente_anexo}}"
                            @end
                            >
                            <strong>ANEXO:</strong>
                            <input type="file" name="upload" accept="application/pdf,image/jpg,image/jpeg,image/png">
                                <div>
                                    @if (data.qr_cliente_anexo)
                                    <img src="../assets/img/v3/anexo-has.svg"/>
                                    @else
                                    <img src="../assets/img/v3/anexo-not.svg"/>
                                @endif
                                </div>
                        </div>
                    </div>

                    <div class="gd m1">
                        <div class="field field-alergia">
                            <strong>ESCOLA:</strong>
                            <input  type="text" name="field_eu_escola" value="{{data.qr_cliente_escola_nome}}" class=".form-control"/>
                        </div>

                        <div class="field field-sangue">
                            <strong>SÉRIE:</strong>
                            <input  type="text" name="field_eu_serie" value="{{data.qr_cliente_escola_serie}}" class=".form-control"/>
                        </div>
                    </div>

                    <div class="gd m2">
                        <div class="field field-endereco b">
                            <strong>ENDEREÇO:</strong>
                            <input  type="text" name="field_eu_endereco" value="{{data.qr_cliente_endereco_rua}}" class=".form-control"/>
                        </div>
        
                        <div class="field field-numero b">
                            <strong>NUMERO:</strong>
                            <input  type="text" name="field_eu_numero" value="{{data.qr_cliente_endereco_numero}}" class=".form-control"/>
                        </div>
        
                        <div class="field field-cidade b">
                            <strong>CIDADE:</strong>
                            <input  type="text" name="field_eu_cidade" value="{{data.qr_cliente_endereco_cidade}}" class=".form-control"/>
                        </div>
                    </div>

                    <div class="gd">
                        <div class="field field-doenca">
                            <strong>DOENÇA DIAGNOSTICADA:</strong>
                            <input  type="text" name="field_eu_doenca" value="{{data.qr_cliente_doenca}}" class=".form-control"/>
                        </div>
                    </div>

                    <div class="gd m3">
                        <div class="field field-medicamento b">
                            <strong>USO MEDICAMENTO:</strong>
                            <input  type="text" name="field_eu_medicamento" value="{{data.qr_cliente_uso_medicamento}}" class=".form-control"/>
                        </div>

                        <div class="field field-peso b">
                            <strong>PESO:</strong>
                            <input  type="text" name="field_eu_peso" value="{{data.qr_cliente_peso}}" class=".form-control"/>
                        </div>
                    </div>
                    
                    <div class="gd m1">
                        <div class="field field-alergia">
                            <strong>ALERGIA:</strong>
                            <input  type="text" name="field_eu_alergia" value="{{data.qr_cliente_alergia}}" class=".form-control"/>
                        </div>

                        <div class="field field-sangue">
                            <strong>TIPO SANGUINEO:</strong>
                            <input  type="text" name="field_eu_sangue" value="{{data.qr_cliente_tipo_sanguineo}}" class=".form-control"/>
                        </div>
                    </div>

                    <div class="gd">
                        <div class="field field-sus-numero b">
                            <strong>SUS Nº:</strong>
                            <input  type="text" name="field_sus_numero" value="{{data.qr_cliente_sus_numero}}" class=".form-control"/>
                            <img src="../assets/img/v3/sus-mini.svg" id="susTrigger"/>
                        </div>
                    </div>

                    <div class="gd m5">
                        <div class="field field-sus-numero">
                            <strong>PLANO DE SÁUDE:</strong>
                            <input  type="text" name="field_plano_nome" value="{{data.qr_cliente_plano_nome}}" class=".form-control"/>
                        </div>

                        <div class="field field-sus-numero">
                            <strong>Nº:</strong>
                            <input  type="text" name="field_plano_numero" value="{{data.qr_cliente_plano_numero}}" class=".form-control"/>
                        </div>
                    </div>

                    <div class="gd">
                        <div class="field field-obs b">
                            <strong>OBS:</strong>
                            <textarea name="field_meu_obs" class=".form-control">{{data.qr_cliente_obs}}</textarea>
                        </div>
                    </div>

                    <h4 class="emergencia">CONTATO DE EMERGÊNCIA</h4>
                    <div class="gd m5 emergencia-form">
                        <div class="field field-nome">
                            <strong>NOME:</strong>
                            <input required  type="text" name="field_eu_e_nome1"
                            @if(meu_emergencia[0]) 
                            value="{{meu_emergencia[0].nome}}"
                            @end
                            class=".form-control"/>
                        </div>
        
                        <div class="field field-contato">
                            <strong>CONTATO:</strong>
                            <input required  type="text" name="field_eu_e_contato1" 
                            @if(meu_emergencia[0]) 
                            value="{{meu_emergencia[0].contato}}"
                            @end 
                            class=".form-control"/>
                        </div>
        
                        <div class="field field-nome b">
                            <strong>NOME:</strong>
                            <input  required type="text" name="field_eu_e_nome2" 
                            @if(meu_emergencia[0])
                            value="{{meu_emergencia[1].nome}}"
                            @endif
                            class=".form-control"/>
                        </div>
        
                        <div class="field field-contato b">
                            <strong>CONTATO:</strong>
                            <input required  type="text" name="field_eu_e_contato2" 
                            @if(meu_emergencia[0])
                            value="{{meu_emergencia[1].contato}}"
                            @end
                            class=".form-control"/>
                        </div>
                    </div>
                </div>
            </div>
            {{--  <img src="../assets/img/myme-logo-meu.png" class="logo-mid">  --}}
            <div class="me">
                <div class="meus">
                    
                    
                    
                    @each(meu in meus)
                    <div class="meu" data-id="{{meu.field_id}}">
                        <div class="gd 
                        @if (data.qr_status == 0)
                        m3
                        @else
                        m5
                        @endif
                        " style="position: relative">
                            <div class="field field-nome b">
                                <strong>NOME/OBJETO:</strong>
                                <input  type="text" name="meu_nome" value="{{meu.meu_nome}}" class=".form-control" required/>
                            </div>
                            <div class="field field-data-ano b">
                                <strong>DATA/ANO:</strong>
                                <input  type="text" name="meu_data" value="{{meu.meu_data}}" class=".form-control"/>
                            </div>
                            <div class="field field-foto without" data-type="meu-foto">
                                <img id="field_my_foto" src="{{(meu.meu_foto ? meu.meu_foto : '../assets/img/meu-default.svg')}}"
                                @if(meu.meu_foto)
                                    data-meu-imagem="{{meu.meu_foto}}"
                                @endif
                                />
                                <input type="file" name="upload" accept="image/jpg,image/jpeg,image/png">
                            </div>
                            @if (data.qr_status == 0)
                            <div class="opt-del">
                                <img title="deletar" src="../assets/img/trash-can.png"/>
                            </div>
                            @endif
                        </div>

                        <div id="triangulo-para-baixo">aaa</div>
                    
                        <div class="gd">
                            <div class="field field-alergia">
                                <strong>RAÇA / MODELO:</strong>
                                <input  type="text" name="meu_modelo" value="{{meu.meu_modelo}}" class=".form-control"/>
                            </div>
                        </div>
                    
                        <div class="gd m3">
                            <div class="field field-alergia b">
                                <strong>ALERGIA:</strong>
                                <input  type="text" name="meu_alergia" value="{{meu.meu_alergia}}" class=".form-control"/>
                            </div>
                            
                            <div class="field field-sangue b">
                                <strong>TIPO SANGUINEO:</strong>
                                <input  type="text" name="meu_sangue" value="{{meu.meu_sangue}}" class=".form-control"/>
                            </div>
                            
                            <div class="field field-peso b">
                                <strong>PESO:</strong>
                                <input  type="text" name="meu_peso" value="{{meu.meu_peso}}" class=".form-control"/>
                            </div>
                        </div>
                            
                        <div class="gd">
                            <div class="field field-doenca">
                                <strong>DOENÇA DIAGNOSTICADA:</strong>
                                <input  type="text" name="meu_doenca" value="{{meu.meu_doenca}}" class=".form-control"/>
                            </div>
                        </div>
                            
                        <div class="gd m41">
                            <div class="field field-medicamento b">
                                <strong>USO MEDICAMENTO:</strong>
                                <input  type="text" name="meu_medicamento" value="{{meu.meu_medicamento}}" class=".form-control"/>
                            </div>
                            
                            <div class="field field-anexo b without" data-type="meu-anexo"
                            @if(meu.meu_anexo)
                            data-has="true" 
                            onclick="window.open('{{meu.meu_anexo}}')"
                            data-meu-anexo="{{meu.meu_anexo}}"
                            @endif
                            >
                            <strong>ANEXO:</strong>
                            <input type="file" name="upload" accept="application/pdf,image/jpg,image/jpeg,image/png">
                                <div>
                                    @if(meu.meu_anexo)
                                    <object class="has" type="image/svg+xml" data="../assets/img/v3/has.svg"></object>
                                    @else
                                    <object class="not" type="image/svg+xml" data="../assets/img/v3/not.svg"></object>
                                    @end
                                </div>
                            </div>
                        </div>
                            
                        <div class="gd m2">
                            <div class="field field-endereco">
                                <strong>ENDEREÇO:</strong>
                                <input  type="text" name="meu_endereco" value="{{meu.meu_endereco}}" class=".form-control"/>
                            </div>
                            
                            <div class="field field-numero">
                                <strong>NUMERO:</strong>
                                <input  type="text" name="meu_numero" value="{{meu.meu_numero}}" class=".form-control"/>
                            </div>
                            
                            <div class="field field-cidade">
                                <strong>CIDADE:</strong>
                                <input  type="text" name="meu_cidade" value="{{meu.meu_cidade}}" class=".form-control"/>
                            </div>
                        </div>
                            
                        <div class="gd">
                            <div class="field field-obs">
                                <strong>OBS:</strong>
                                <textarea name="meu_obs" class=".form-control">{{meu.meu_obs}}</textarea>
                            </div>
                        </div>
                            
                        <h4 class="emergencia">CONTATO DE EMERGÊNCIA</h4>
                        <div class="gd m5 emergencia-form">
                            <div class="field field-nome">
                                <strong>NOME:</strong>
                                <input type="text" name="meu_emergencia1_nome" value="{{meu.meu_emergencia1_nome}}" class=".form-control"/>
                            </div>
                            
                            <div class="field field-contato">
                                <strong>CONTATO:</strong>
                                <input type="text" name="meu_emergencia1_contato" value="{{meu.meu_emergencia1_contato}}" class=".form-control"/>
                            </div>
                            
                            <div class="field field-nome b">
                                <strong>NOME:</strong>
                                <input type="text" name="meu_emergencia2_nome" value="{{meu.meu_emergencia2_nome}}" class=".form-control"/>
                            </div>
                            
                            <div class="field field-contato b">
                                <strong>CONTATO:</strong>
                                <input type="text" name="meu_emergencia2_contato" value="{{meu.meu_emergencia2_contato}}" class=".form-control"/>
                            </div>
                        </div>
                    </div>
                    @end
                </div>

                
                
                <div class="add-more sec-badgee">
                    <div class="badgee left">
                        Prezado cliente, para quem cadastrou os dados MY ME até a data 24/09/2021
                        favor recadastrar, pois fizemos melhorias no sistema operacional, e para que
                        todos os clientes possam usufruir das melhorias, essa operação do
                        recadastramento é necessária! Atenciosamente.
                    </div>
                    ADICIONAR MAIS MEU. <span>+</span>
                </div>
            </div>
            <input type="hidden" name="qr_meus"/>
            <input type="hidden" name="qr_id" value="{{ qr_id }}"/>

            <div class="edit">
                @if(data.qr_status == 0)
                <div class="gd m7">
                    <div class="field-password">
                        <strong>CRIE SUA SENHA:</strong>
                        <input required type="password" name="qr_password" placeholder="Insira uma senha para possa editar ou recuperar seus dados MY ME futuramente." class=".form-control"/>
                        {{--  <small>Insira uma senha para poder editar ou recuperar seu cadastro futuramente.</small>  --}}
                    </div>
                </div>
                @end

                <div class="terms">
                    <input  type="checkbox" id="field_terms" name="field_terms">
                    <label for="field_terms">Eu concordo que <a target="_blank" href="../assets/termos-myme.pdf">sobre a lei LGPD</a> e estou ciente que os dados inseridos acima estarão disponíveis a qualquer momento através deste link.</label>
                </div>
                <div class="error" style="display: none"></div>
                <button type="submit" disabled><div class="spinner-border" style="width: 1.3rem;height: 1.3rem; display: none;" role="status"><span class="visually-hidden"></span></div> SALVAR DADOS MY ME
                    <object type="image/svg+xml" data="../assets/img/v3/cloud.svg"></object>
                </button>
            </div>

            <div class="help">
                <div class="ic">
                    <object type="image/svg+xml" data="../assets/img/v3/divider-emergencia.svg"></object>
                </div>
                <div class="items">
                    <object data-emergencia="192" type="image/svg+xml" data="../assets/img/v3/192.svg"></object>
                    <object data-emergencia="193" type="image/svg+xml" data="../assets/img/v3/193.svg"></object>
                    <object data-emergencia="197" type="image/svg+xml" data="../assets/img/v3/197.svg"></object>
                    <object data-emergencia="136" type="image/svg+xml" data="../assets/img/v3/136.svg"></object>
                    <object data-emergencia="194" type="image/svg+xml" data="../assets/img/v3/194.svg"></object>
                    <object data-emergencia="190" type="image/svg+xml" data="../assets/img/v3/190.svg"></object>
                </div>
                <footer>
                    <object type="image/svg+xml" data="../assets/img/v3/footer.svg"></object>
                </footer>
            </div>
        </form> 
        @else
            <h2 style="font-size: 32px; text-align: center;">MyMe não encontrado</h2>
        @endif
    </main>
  
  <!-- Modal -->
  <div class="modal fade" id="selectOpt" tabindex="-1" aria-labelledby="selectOptLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <section>
                <img data-type="human" src="../assets/img/v3/modal-human.svg"/>
                <img data-type="pet" src="../assets/img/v3/modal-pet.svg"/>
                <img data-type="object" src="../assets/img/v3/modal-object.svg"/>
            </section>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="susCard" tabindex="-1" aria-labelledby="susCardOptLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <suscard>
                <img data-type="human" src="../assets/img/v3/sus-card.png"/>
                <span id="sus-nome"></span>
                <span id="sus-nascimento"></span>
                <span id="sus-sexo"></span>
                <span id="sus-numero"></span>
            </suscard>
        </div>
      </div>
    </div>
  </div>

  

    <script src="../assets/vendor/jquery/jquery-3.5.1.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/core/popper.min.js"></script> 
    <script src="../assets/js/mymev3.js"></script>

    
</body>
</html>